Repository Pf2ools/pf2ools-data, changes with the labels that .github/labeler.yml gives for each.
All labels: 🎯 Paizo data, 🎯 Homebrew data, 🎯 Source file, 🎯 Documentation, 🎯 Scripts, 🎯 Github Actions

Update content-error.yaml
  .github/ISSUE_TEMPLATE/content-error.yaml
Labels: none

issues
  .github/ISSUE_TEMPLATE/content-error.yaml
  .github/ISSUE_TEMPLATE/missing-content.yaml
  .github/ISSUE_TEMPLATE/missing-source.yaml
Labels: none

Revert "issues"
  .github/ISSUE_TEMPLATE/content-error.yaml
  .github/ISSUE_TEMPLATE/missing-content.yaml
  .github/ISSUE_TEMPLATE/missing-source.yaml
Labels: none

issues
  .github/ISSUE_TEMPLATE/content-error.yaml
  .github/ISSUE_TEMPLATE/missing-content.yaml
  .github/ISSUE_TEMPLATE/missing-source.yaml
Labels: none

Update missing-source.yaml
  .github/ISSUE_TEMPLATE/missing-source.yaml
Labels: none

Update missing-source.yaml
  .github/ISSUE_TEMPLATE/missing-source.yaml
Labels: none

Update missing-source.yaml
  .github/ISSUE_TEMPLATE/missing-source.yaml
Labels: none

aaaaaaaaaaaaaaaaaa
  CONTRIBUTING.md
  package.json
Labels: 🎯 Documentation

aaaaaaaaaaaaaaaaaa
  CONTRIBUTING.md
  package.json
Labels: 🎯 Documentation

aa
  .prettierignore
  package.json
Labels: none

generate homebrew source index script
  indexes/homebrewSources.json
  scripts/index-homebrewSources.ps1
Labels: 🎯 Scripts

.github/labeler.yml:

# Core data updates
"🎯 Paizo data":
  - "data/core/**"

# Homebrew data updates
"🎯 Homebrew data":
  - "data/homebrew/**"

# Source file modifications
"🎯 Source file":
  - "data/*/*/*.json"

# Documentation updates
"🎯 Documentation":
  - any: ["**/*.md", "!CHANGELOG.md"]

# Script updates
"🎯 Scripts":
  - "scripts/**"

# Github actions
"🎯 Github Actions":
  - ".github/workflows/*"
  - ".github/labeler.yml"
