Repository Pf2ools/pf2ools-data, changes with the labels that .github/labeler.yml gives for each.
All labels: data, core, homebrew, source, documentation, scripts

.github/labeler.yml:

# Data updates
data:
  - "data/**"

# Core data updates
core:
  - "data/core/**"

# Homebrew data updates
homebrew:
  - "data/homebrew/**"

# Source file modifications
source:
  - "data/core/*/*.json"
  - "data/homebrew/*/*.json"
  - "data/common/sourceGroup/*"

# Documentation updates
documentation:
  - any: ["**/*.md", "!CHANGELOG.md"]

# Script updates
scripts:
  - "scripts/**"

Create label.yml
  .github/workflows/label.yml
Labels: none

update labeller action name
  .github/workflows/pull-request-label.yml
Labels: none

Update README.md
  README.md
Labels: documentation

SoG1
  data/common/sourceGroup/Season of Ghosts.json
  data/core/Season of Ghosts Player's Guide/Season of Ghosts Player's Guide.json
  data/core/Season of Ghosts Player's Guide/background/Close Ties.json
  data/core/Season of Ghosts Player's Guide/background/Folklore Enthusiast.json
  data/core/Season of Ghosts Player's Guide/background/Northridge Scholar.json
  data/core/Season of Ghosts Player's Guide/background/Outskirt Dweller.json
  data/core/Season of Ghosts Player's Guide/background/Southbank Traditionalist.json
  data/core/Season of Ghosts Player's Guide/background/Willowshore Urchin.json
Labels: data, core, source

SoG0
  README.md
  data/common/sourceGroup/Season of Ghosts.json
  data/core/Season of Ghosts Player's Guide/Season of Ghosts Player's Guide.json
  data/core/Season of Ghosts Player's Guide/background/Close Ties.json
  data/core/Season of Ghosts Player's Guide/background/Folklore Enthusiast.json
  data/core/Season of Ghosts Player's Guide/background/Northridge Scholar.json
  data/core/Season of Ghosts Player's Guide/background/Outskirt Dweller.json
  data/core/Season of Ghosts Player's Guide/background/Southbank Traditionalist.json
  data/core/Season of Ghosts Player's Guide/background/Willowshore Urchin.json
Labels: data, core, source, documentation

Update pull-request-label.yml
  .github/workflows/pull-request-label.yml
Labels: none
