Repository Pf2ools/pf2ools-data, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Homebrew data, ðŸŽ¯ Source file, ðŸŽ¯ Scripts, ðŸŽ¯ Build files, ðŸŽ¯ Special files

.github/labeler.yml:

# Core data updates
"ðŸŽ¯ Paizo data":
  - changed-files:
      - any-glob-to-any-file: ["data/core/**"]

# Homebrew data updates
"ðŸŽ¯ Homebrew data":
  - changed-files:
      - any-glob-to-any-file: ["data/homebrew/**"]

# Source file modifications
"ðŸŽ¯ Source file":
  - changed-files:
      - any-glob-to-any-file: ["data/*/*/*.json"]

# Documentation updates
"ðŸŽ¯ Documentation":
  - changed-files:
      - all-globs-to-any-file: ["**/*.md", "!CHANGELOG.md"]

# Script updates
"ðŸŽ¯ Scripts":
  - changed-files:
      - any-glob-to-any-file: ["scripts/**"]

# Build-file updates
"ðŸŽ¯ Build files":
  - changed-files:
      - any-glob-to-any-file: ["bundles/**", "indexes/**"]

# Github actions
"ðŸŽ¯ Special files":
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".*", "package*", "LICENSE", "*.license"]

mission statement
  README.md
  scripts/test-fileStructure.js
Labels: ðŸŽ¯ Scripts

Update to schema spec
  scripts/index-homebrewSources.ps1
Labels: ðŸŽ¯ Scripts

Update Index
  indexes/IDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Build files

Update bundle-bySource.ps1
  scripts/bundle-bySource.ps1
Labels: ðŸŽ¯ Scripts

UUIDing
  indexes/IDs.json
  indexes/UUIDs.json
  indexes/shortNames.json
  package.json
  scripts/index-IDs.ps1
  scripts/index-UUIDs.ps1
  scripts/index-homebrewSources.ps1
  scripts/index-shortNames.ps1
Labels: ðŸŽ¯ Scripts, ðŸŽ¯ Build files, ðŸŽ¯ Special files

new index, what do you think?
  .github/CODEOWNERS
  indexes/homebrewSources.json
  scripts/index-homebrewSources.ps1
Labels: ðŸŽ¯ Scripts, ðŸŽ¯ Build files, ðŸŽ¯ Special files

oops that's not universally unique
  scripts/index-UUIDs.ps1
Labels: ðŸŽ¯ Scripts

npm run build
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Build files

npm run build
  bundles/byDatatype/core/familiarAbility.json
  bundles/bySource/core/Advanced Player's Guide.json
  bundles/bySource/core/Core Rulebook.json
  bundles/bySource/core/Lost Omens_ Character Guide.json
  bundles/bySource/core/Lost Omens_ Grand Bazaar.json
  bundles/bySource/core/Rage of Elements.json
  bundles/bySource/core/Secrets of Magic.json
  bundles/bySource/core/Treasure Vault.json
  indexes/UUIDs.json
  indexes/datatypes.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Build files

Update index-UUIDs.ps1
  scripts/index-UUIDs.ps1
Labels: ðŸŽ¯ Scripts

pkg
  data/homebrew/Solthesia Adventure Guide/divineIntercession/Unumaator.json
  package.json
Labels: ðŸŽ¯ Homebrew data, ðŸŽ¯ Special files

npm run build
  bundles/byDatatype/core/divineIntercession.json
  bundles/byDatatype/homebrew/divineIntercession.json
  bundles/bySource/core/Lost Omens_ Gods & Magic Web Supplement.json
  bundles/bySource/core/Lost Omens_ Gods & Magic.json
  bundles/bySource/homebrew/Solthesia Adventure Guide.json
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Build files

Update README.md
  README.md
Labels: none

Add Seven Dooms for Sandpoint Player's Guide
  data/core/Seven Dooms for Sandpoint Player's Guide/Seven Dooms for Sandpoint Player's Guide.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Cathedral Child.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Curious Apprentice.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Eager Scofflaw.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Lost Coast Local.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Militia Member.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Newcomer.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Runelord Scholar.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Scarnetti-connected.json
Labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Source file

changed my mind about the abbreviation
  data/common/sourceGroup/Seven Dooms for Sandpoint.json
  data/core/Seven Dooms for Sandpoint Player's Guide/Seven Dooms for Sandpoint Player's Guide.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Cathedral Child.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Curious Apprentice.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Eager Scofflaw.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Lost Coast Local.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Militia Member.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Newcomer.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Runelord Scholar.json
  data/core/Seven Dooms for Sandpoint Player's Guide/background/Scarnetti-connected.json
Labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Source file

Update .gitattributes
  .gitattributes
Labels: ðŸŽ¯ Special files

Update .gitattributes
  .gitattributes
Labels: ðŸŽ¯ Special files

gitattributes test
  .prettierignore
  CONTRIBUTING.md
  bundles/byDatatype/homebrew/source.json
  bundles/bySource/homebrew/Solthesia Adventure Guide.json
  data/homebrew/Solthesia Adventure Guide/Solthesia Adventure Guide.json
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Homebrew data, ðŸŽ¯ Source file, ðŸŽ¯ Build files, ðŸŽ¯ Special files

Revert "gitattributes test"
  .prettierignore
  CONTRIBUTING.md
  bundles/byDatatype/homebrew/source.json
  bundles/bySource/homebrew/Solthesia Adventure Guide.json
  data/homebrew/Solthesia Adventure Guide/Solthesia Adventure Guide.json
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Homebrew data, ðŸŽ¯ Source file, ðŸŽ¯ Build files, ðŸŽ¯ Special files

gitattributes test
  .gitattributes
Labels: ðŸŽ¯ Special files

ACTUAL test now
  .prettierignore
  CONTRIBUTING.md
  bundles/byDatatype/homebrew/source.json
  bundles/bySource/homebrew/Solthesia Adventure Guide.json
  data/homebrew/Solthesia Adventure Guide/Solthesia Adventure Guide.json
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Homebrew data, ðŸŽ¯ Source file, ðŸŽ¯ Build files, ðŸŽ¯ Special files

Update .gitattributes
  .gitattributes
Labels: ðŸŽ¯ Special files

Create Open RPG Creative License.json
  data/common/license/Open RPG Creative License.json
Labels: ðŸŽ¯ Source file

Convert WoW0
  data/common/sourceGroup/Wardens of Wildwood.json
  data/core/Wardens of Wildwood Player's Guide/Wardens of Wildwood Player's Guide.json
  data/core/Wardens of Wildwood Player's Guide/background/Fey Friend.json
  data/core/Wardens of Wildwood Player's Guide/background/Green Faith Pilgrim.json
  data/core/Wardens of Wildwood Player's Guide/background/Moot Guard.json
  data/core/Wardens of Wildwood Player's Guide/background/Tree Friend.json
  data/core/Wardens of Wildwood Player's Guide/background/Verduran City Folk.json
  data/core/Wardens of Wildwood Player's Guide/background/Wood Warden.json
Labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Source file

npm run build
  bundles/byDatatype/common/license.json
  bundles/byDatatype/common/sourceGroup.json
  bundles/byDatatype/core/background.json
  bundles/byDatatype/core/source.json
  bundles/bySource/common.json
  bundles/bySource/core/Wardens of Wildwood Player's Guide.json
  indexes/IDs.json
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Build files

Update CONTRIBUTING.md for new schema
  CONTRIBUTING.md
Labels: none

Update unconverted-source.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

Update unconverted-source.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

Update unconverted-source.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

Update unconverted-source.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

issues
  .github/ISSUE_TEMPLATE/content-error.yaml
  .github/ISSUE_TEMPLATE/missing-content.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

issues 2
  .github/ISSUE_TEMPLATE/content-error.yaml
  .github/ISSUE_TEMPLATE/missing-content.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

issuuuuuuues
  .github/ISSUE_TEMPLATE/content-error.yaml
  .github/ISSUE_TEMPLATE/missing-content.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

Update unconverted-source.yaml
  .github/ISSUE_TEMPLATE/unconverted-source.yaml
Labels: ðŸŽ¯ Special files

Update content-error.yaml
  .github/ISSUE_TEMPLATE/content-error.yaml
Labels: ðŸŽ¯ Special files

Add domain references in
  data/core/Age of Ashes #4_ Fires of the Haunted City/domain/Duty.json
  data/core/Core Rulebook/domain/Air.json
  data/core/Core Rulebook/domain/Ambition.json
  data/core/Core Rulebook/domain/Confidence.json
  data/core/Core Rulebook/domain/Darkness.json
  data/core/Core Rulebook/domain/Death.json
  data/core/Core Rulebook/domain/Fate.json
  data/core/Core Rulebook/domain/Fire.json
  data/core/Core Rulebook/domain/Indulgence.json
  data/core/Core Rulebook/domain/Knowledge.json
  data/core/Core Rulebook/domain/Might.json
  data/core/Core Rulebook/domain/Secrecy.json
  data/core/Core Rulebook/domain/Travel.json
  data/core/Core Rulebook/domain/Water.json
  data/core/Dark Archive/domain/Air.json
  data/core/Dark Archive/domain/Ambition.json
  data/core/Dark Archive/domain/Confidence.json
  data/core/Dark Archive/domain/Darkness.json
  data/core/Dark Archive/domain/Death.json
  data/core/Dark Archive/domain/Fate.json
  data/core/Dark Archive/domain/Fire.json
  data/core/Dark Archive/domain/Indulgence.json
  data/core/Dark Archive/domain/Knowledge.json
  data/core/Dark Archive/domain/Might.json
  data/core/Dark Archive/domain/Secrecy.json
  data/core/Dark Archive/domain/Travel.json
  data/core/Dark Archive/domain/Water.json
  data/core/Rage of Elements/domain/Toil.json
Labels: ðŸŽ¯ Paizo data

Update package.json
  package.json
Labels: ðŸŽ¯ Special files

king king king
  data/common/sourceGroup/Kingmaker.json
  data/core/Kingmaker/Kingmaker.json
  data/core/Kingmaker/background/Borderlands Pioneer.json
  data/core/Kingmaker/background/Brevic Noble.json
  data/core/Kingmaker/background/Brevic Outcast.json
  data/core/Kingmaker/background/Issian Patriot.json
  data/core/Kingmaker/background/Local Brigand.json
  data/core/Kingmaker/background/Rostlander.json
  data/core/Kingmaker/background/Sword Scion.json
Labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Source file

WtD5 backgrounds
  data/core/Wake the Dead #5/Wake the Dead #5.json
  data/core/Wake the Dead #5/background/Mortuarium Survivor.json
Labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Source file

npm run build
  bundles/byDatatype/common/sourceGroup.json
  bundles/byDatatype/core/background.json
  bundles/byDatatype/core/source.json
  bundles/bySource/common.json
  bundles/bySource/core/Kingmaker.json
  bundles/bySource/core/Wake the Dead #5.json
  data/core/Wake the Dead #5/background/Mortuarium Survivor.json
  indexes/IDs.json
  indexes/UUIDs.json
  indexes/homebrewSources.json
  indexes/shortNames.json
Labels: ðŸŽ¯ Paizo data, ðŸŽ¯ Build files
